* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Monospace, sans-serif;
  color: floralwhite;
  background-color: floralwhite;
  position: relative;
  min-height: 100vh;
  padding-bottom: 38px;
}

.firstline {
  display: flex;
  justify-content: space-between;
}

.menu p {
  margin: 7px 0;
}

h4 {
  margin: 0;
  padding: 7px;
}

.menu {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-right: 20px;
  font-size: 13px;
}

header {
  background-color: #5F6F94;
  width: 100%;
}

header img {
  width: 230px;
  border: #97D2EC solid 2px;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.hsubsection {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 300px;
  margin-left: auto;
  margin-right: auto;
  padding: 14px;
  font-size: 14px;
}

.motion {
  width: 350px;
}

section {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.points {
  width: 100%;
  flex-shrink: 0;
}

.points h4{
  color: #25316D;
  text-align: center;
  margin-top: 20px;
}

.icons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.icon img {
  width: 200px;
  height: 137px;
  margin-bottom: 15px;
  object-fit: cover; 
  border: #97D2EC solid 2px;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
}

.icon {
  width: 300px;
  margin: 40px 0;
  flex-shrink: 0;
  font-size: 13px;
  text-align: center;
}

.feature {
  color: #25316D;
}

.citate {
  background-color: #97D2EC;
  width: 920px;
  padding: 10px 0;
  text-align: center;
  color: floralwhite;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
}

#subscript {
  margin: 0;
}

.call {
  display: flex;
  flex-direction: row;
  gap: 20px;
  background-color: #25316D;
  margin: 20px 0;
  padding: 15px 20px;
  align-items: center;
  border-radius: 10px;
  font-size: 13px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
}

#callh {
  font-weight: 800;
}

.call p {
  margin: 0;
}

button {
  background-color: #97D2EC;
  color: #25316D;
  font-weight: 700;
  border-radius: 7px;
  padding: 5px;
}
a {
  color: floralwhite;
  font-weight: bold;
}

footer {
  position: absolute;
  bottom: 0;
  background-color: #5F6F94;
  width: 100%;
  font-size: 13px;
  padding: 10px;
}

@media screen and (max-width: 1200px) {
  .icon {
    flex-shrink: 1;
  }
}

@media screen and (max-width: 992px) {
  .hsubsection {
    gap: 100px;
  }
  .icons {
    flex-wrap: wrap;
  }
}