body {
  font-family: Monospace, sans-serif;
  margin: 0;
  padding: 0;
  color: floralwhite;
}

.firstline {
  display: flex;
  justify-content: space-between;
}

.menu p {
  margin: 7px 0;
}

h4 {
  margin: 0;
  padding: 7px;
}

.menu {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-right: 20px;
  font-size: 13px;
}

header {
  background-color: #5F6F94;
  width: 100%;
}

header img {
  width: 230px;
  border: #97D2EC solid 2px;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.hsubsection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding: 14px;
  font-size: 14px;
}

.motion {
  width: 350px;
}

section {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  background-color: floralwhite;
}

.points {
  width: 100%;
  height: 300px;
  flex-shrink: 0;
}

.points h4{
  color: #25316D;
  text-align: center;
  margin-top: 10px;
}

.icons {
  display: flex;
  flex-direction: row;
  padding-top: 15px;
  justify-content: space-evenly;
}

.icon img {
  width: 200px;
  height: 137px;
  object-fit: cover; 
  border: #97D2EC solid 2px;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
}

.icon {
  width: 20%;
  flex-shrink: 0;
  font-size: 13px;
  text-align: center;
}

.feature {
  color: #25316D;
}

.citate {
  background-color: #97D2EC;
  width: 920px;
  padding: 10px 0;
  text-align: center;
  color: floralwhite;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
}

#subscript {
  margin: 0;
}

.call {
  display: flex;
  flex-direction: row;
  gap: 20px;
  background-color: #25316D;
  margin-top: 20px;
  padding: 15px 20px;
  align-items: center;
  border-radius: 10px;
  font-size: 13px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
}

#callh {
  font-weight: 800;
}

.call p {
  margin: 0;
}

button {
  background-color: #97D2EC;
  color: #25316D;
  font-weight: 700;
  border-radius: 7px;
  padding: 5px;
}
a {
  color: floralwhite;
  font-weight: bold;
}

footer {
  position: fixed;
  bottom: 0;
  background-color: #5F6F94;
  width: 100%;
  height: 20px;
  font-size: 13px;
  padding: 10px;
}